@font-face {
  font-family: SourceSansRegular;
  src: url(./fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: SourceSansBold;
  src: url(./fonts/SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: SourceSansSemiBold;
  src: url(./fonts/SourceSansPro-SemiBold.ttf);
}
.custom-navbar {
  font-size: 15px;
  letter-spacing: 1px;
  background-color: #131313;
  font-family: SourceSansBold, sans-serif;
}

.custom-navbar h1 {
  font-size: 16px;
  font-family: SourceSansBold, sans-serif;
  color: #fff;
}

.custom-navbar h1:hover {
  color: #ddd;
}

.custom-navbar .nav-link {
  color: #fff;
}

.custom-navbar .nav-link:hover {
  color: #ddd; 
}


.full-height {
  height: 100%;
}

#start {
  text-align: center;
  padding: 20px;
  background-color: #131313;
  color: #fff;
}

.titles {
  font-size: 56px;
  font-family: SourceSansBold, sans-serif;
  letter-spacing: 3px;
  max-width: 100%;
  word-wrap: break-word;
  color: #fff;
}

#start h2 {
  font-family: SourceSansBold, sans-serif;
  color: #ffc54d;
}

#start div button {
  margin-top: 10px;
  padding: 1rem;
  background: #fff;
}

#start div a {
  color: #131313;
  font-family: SourceSansBold, sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
}

#start div a:hover {
 text-decoration: underline;
}

#about-me {
  color: #fff;
  text-align: center;
  padding: 20px;
  font-family: SourceSansBold, sans-serif;
  background-color: #131313;
  font-size: 49px;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
}

.about-content-para {
  color: #fff;
  max-width: 60rem;
  margin-bottom: 1rem;
  font-size: 18px;
  font-family: SourceSansRegular, sans-serif;
}

.about-content-skills h3 {
  font-size: 29px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills-item {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: #fff;
  border-radius: 5px;
  font-weight: 600;
  color: #131313
}

#proyects {
  background-color: #131313;
}

#proyects div {
  color: #fff;
}

#proyects div .carousel-item {
  margin: 0 auto;
}

#proyects h2 {
  text-align: center;
}

.box {
  color: #fff;
  padding: 20px;
  margin: 20px;
  font-family: SourceSansBold, sans-serif;
}

#contact {
  background-color: #131313;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#contact h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#contact p {
  text-align: center;
  font-size: 20px;
  color: #fff;
  width: 80%;
  margin: 1em auto;
  font-family: SourceSansRegular, sans-serif;
}

#contact .contact-me {
  width: 80%;
  justify-content: space-between;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1em auto;
}

#contact .contact-me a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: SourceSansBold, sans-serif;
  color: #fff;
}

#contact .contact-me a:hover {
  color: #ddd;
}

@media only screen and (max-width: 56.25em)
html {
    font-size: 56%;
}